{{ form_start(form) }}
{{ form_widget(form) }}
<input type="submit">
{{ form_end(form) }}


<div class="form-wrapper">
    <div class="form-inner-wrapper">
        <form autocomplete="on" action="http://payment.zoorbagan.com/payment/submit" method="POST" onsubmit="return validateForm();">
            <div class="field-list clear">
                <div class="form-item field email required">
                    <label class="title">Email Address <span class="required">*</span></label>
                    <input class="field-element" name="email" x-autocompletetype="email" type="text" spellcheck="false" id="don-email"/>
                    <input name="locale" type="hidden" value="lv" />
                </div>
            </div>
            <div class="field-list clear">
                <div class="form-item field comment required">
                    <label class="title">Komentārs</label>
                    <input class="field-element" name="comment"  type="text" spellcheck="false" id="don-comment"/>
                </div>
            </div>
            <div class="form-button-wrapper form-button-wrapper--align-left">
                <input class="button sqs-system-button sqs-editable-button" type="submit" name="total" value="1"/>
                <input class="button sqs-system-button sqs-editable-button" type="submit" name="total" value="5"/>
                <input class="button sqs-system-button sqs-editable-button" type="submit" name="total" value="10"/>
                <input class="button sqs-system-button sqs-editable-button" type="submit" name="total" value="50"/>
                <input class="button sqs-system-button sqs-editable-button" type="submit" name="total" value="100"/>
                <input class="button sqs-system-button sqs-editable-button" type="submit" name="total" value="300"/>
                <input class="button sqs-system-button sqs-editable-button" type="submit" name="total" value="300"/>
                <input class="button sqs-system-button sqs-editable-button" type="submit" name="total" value="500"/>
                <input class="button sqs-system-button sqs-editable-button" type="submit" name="total" value="1000"/>
            </div>
        </form>
    </div>
</div>

<script language="JavaScript">
    function validateEmail(email) {
        var re = /^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
        return re.test(email);
    }

    function validateForm() {
        var x = document.getElementById('don-email').value
        if (!validateEmail(x)) {
            document.getElementById('don-email').style.border = "2px solid red";
            return false;
        } else {
            document.getElementById('don-email').style.border = "1px solid #ccc;";
        }

        return true;
    }
</script>