<html>
<head>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
    <script type="text/javascript">
        $(document).ready(function(){
            $("#frm").submit();
        });
    </script>
</head>
<body>
<form action="{{ action }}" method="post" id="frm">
    {% for key, value in fields %}
        <input type='hidden' name="{{ key }}" value="{{ value }}" />
    {% endfor %}
    <input type="submit" name="SUBMIT" value="PAY"/>
</form>

</body>
</html>

